body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.container {
  display: flex;
}

.column {
  width: 25%;
}

.lblbtn {
  margin-top: 1em;
  display: block;
}

.phase {
  background-color: salmon;
  height: 33px;
}

.ticket {
  background-color: beige;
  height: 6em;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
