
.tickets-container {
    background-color: rosybrown;
    display: flex;
    padding-bottom: 1em;
}

#tickets ul {
    margin: 0;
    list-style-type: none;
    padding: 1em 1em 0 0;
}

.ticket-column {
    width: 12em;
}

.ticket-li {
    background-color: beige;
    cursor: pointer;
    height: 6em;
    transition: 0.2s;
    border: 0.4em solid beige;
    border-radius: 0.3em;
    margin-top: 1em;
    position: relative;
}
  
.ticket-li p {
    margin: 1em 1em;
    word-wrap: break-word;
}

.ticket-header {
    margin: 0;
    font-size: 1.3em;
    font-weight: bold;
    background-color: lightcyan;
    border: 0.4em solid lightcyan;
    border-radius: 0.2em;
    color: midnightblue;
    white-space: nowrap;
}

.ticket-header-delete:focus, .ticket-header-delete:hover {
    background-color: red;
    border: 0.4em solid red;
}